@import url(https://fonts.googleapis.com/css?family=Poiret+One);
@import url(https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css);
/* $border-radius: 20px; */
body {
  color: #333333;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 650px;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image:url(background-image.jpg);
  background-size: cover;
  background-position: top center;
  /* background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)); */
}


.main-content {
  flex-grow: 1;
}

header {
  margin-top: 16px;
  margin-bottom: 48px;
}

h2 {
  font-size: 64px;
  margin-bottom: 16px;
}


.widget {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  height: 300px;
  width: 600px;
  transform: translate(-50%, -50%);
  flex-wrap: wrap;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);
}

.weatherLocation{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  padding: 2rem;
  background-color: #fafafa;
}

.weatherLocation button{
  background: #080705;
  color:#fff;
  border: 1px solid transparent;
}
.weatherLocation input:focus{
  outline: 0 none;
}

.widget .weatherIcon {
  flex: 1 100%;
  height: 60%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background: #FAFAFA;
  font-family: weathericons;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 100px;
}
.widget .weatherIcon i {
  padding-top: 30px;
}
.widget .weatherInfo {
  flex: 0 0 70%;
  height: 40%;
  background: #272c34;
  border-bottom-left-radius: 20px;
  display: flex;
  align-items: center;
  color: #0081cb;
}
.widget .weatherInfo .temperature {
  flex: 0 0 40%;
  width: 100%;
  font-size: 40px;
  display: flex;
  justify-content: space-around;
  font-family: 'Pacifico', cursive;
}
.widget .weatherInfo .description {
  flex: 0 60%;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  font-weight: 800;
}
.widget .weatherInfo .description .weatherCondition {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 200;
  font-family: 'Nunito', sans-serif;

}
.widget .weatherInfo .description .place {
  font-size: 15px;
}
.widget .date {
  flex: 0 0 30%;
  height: 40%;
  background:#4fc3f7;
  border-bottom-right-radius: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-size: 25px;
  font-weight: 600;
  text-align: center;
}

p {
  position: fixed;
  bottom: 0%;
  right: 2%;
}
p a {
  text-decoration: none;
  color: #E4D6A7;
  font-size: 10px;
}

header {
  padding: 50px 15px 15px;
}

header input {
  width: 100%;
  max-width: 280px;
  padding: 10px 15px;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 16px 0px 16px 0px;
  border-bottom: 3px solid #DF8E00;
  
  color: #313131;
  font-size: 20px;
  font-weight: 300;
  transition: 0.2s ease-out;
}

header input:focus {
  background-color: rgba(255, 255, 255, 0.6);
}